@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --splash-color: #77A07E;
  --main-bg-color: #2D4739;
  --secondary-color: #5E8EA5;
  --accent-color: #804e49;
  --text-color: #fbfaf8;
  --highlight-color: #E7DECD;
  --blog-bg-color: #004953;
  --blog-text-color: #ACE1AF;
  --blog-full-bg-color: #78A1BB;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
    --splash-color: #77A07E;
    --main-bg-color: #2D4739;
    --secondary-color: #5E8EA5;
    --accent-color: #804e49;
    --text-color: #fbfaf8;
    --highlight-color: #E7DECD;
    --blog-bg-color: #004953;
    --blog-text-color: #ACE1AF;
    --blog-full-bg-color: #78A1BB;
  }
}

body {
  background-color: var(--main-bg-color);
  color: var(--text-color);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
svg {
  width: 50em;
}